<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>index</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"/>

</head>
<body>
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h1>dialect</h1>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="span9">
				<section>
					<h3>カスタムdialect</h3>
					<p custom:printua="${#httpServletRequest}">useragent</p>
				</section>
			</div>
		</div>
		<p><a th:href="@{/}">&gt; return index</a></p>
	</div>
</body>
</html>